<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ask">

	<insert id="insertAsk" useGeneratedKeys="true" parameterType="Ask">
		<selectKey keyProperty="askNo" resultType="int" order="BEFORE">
			SELECT SEQ_ASK.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO ASK
		VALUES (
			#{askNo},
			#{userNo},
			#{content},
			#{resContent},
			DEFAULT,
			DEFAULT,
			NULL,
			#{title}
		)
	</insert>
	
	<select id="selectAskList" resultType="Ask">
		SELECT
			A.ASK_NO,
			A.USER_NO,
			A.CONTENT,
			A.RES_CONTENT,
			A.STATUS,
			A.ASK_DATE,
			A.RES_DATE,
			A.TITLE,
			U.NICK_NAME
		FROM ASK A
		JOIN "USER" U ON (A.USER_NO=U.USER_NO)
		ORDER BY A.ASK_NO DESC
	</select>
	
	<update id="updateAsk">
		UPDATE ASK SET
			RES_CONTENT = #{resContent},
			STATUS = 'Y',
			RES_DATE = SYSDATE
	 	WHERE ASK_NO = #{askNo}
	</update>
	
	
</mapper>