<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ask">

	<insert id="insertAsk" useGeneratedKeys="true" parameterType="Ask">
		<selectKey keyProperty="askNo" resultType="int" order="BEFORE">
			SELECT SEQ_ASK.NEXTVAL
			FROM DUAL
		</selectKey>
		INSERT INTO ASK
		VALUES (
			#{askNo},
			#{userNo},
			#{content},
			#{resContent},
			DEFAULT,
			DEFAULT,
			DEFAULT,
			#{title}
		)
	</insert>
	
	
</mapper>