<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<resultMap id="userMap" type="user">
		<id column="USER_NO" property="userNo"/>
		<result column="EMAIL" property="email"/>
		<result column="PWD" property="pwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="STATUS" property="status"/>
		<result column="POINTS" property="points"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<association property="imgUser"
					 javaType="imgUser"
					 select="selectImgUser"
					 column="USER_NO"/>
		<collection property="authorities"
					javaType="list"
					ofType="simpleGrantedAuthority"
					select="selectAuthorities"
					column="USER_NO"/>
		 <collection property="dogs"
		 			 javaType="list"
		 			 ofType="dog"
		 			 select="selectDogs"
		 			 column="USER_NO"/>
	</resultMap>
	
	<resultMap id="authorityMap" type="simpleGrantedAuthority">
		<constructor>
			<arg column="authority" javaType="string" />
		</constructor>
	</resultMap>
	
	<resultMap id="dogMap" type="dog">
		<id column="DOG_NO" property="dogNo"/>
		<result column="IS_MAIN" property="isMain"/>
		<result column="DOG_NAME" property="dogName"/>
		<result column="BREED" property="breed"/>
		<result column="GENDER" property="gender"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="NOTE" property="note"/>
		<association property="imgDog"
					 javaType="imgDog"
					 select="selectImgDog"
					 column="DOG_NO"/>
	</resultMap>
	
<!--=============================================================================-->
	
	<!-- 이메일 중복 확인 -->
	<select id="checkEmail" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM "USER"
		WHERE EMAIL = #{email}
	</select>

	<!-- 닉네임 중복 확인 -->
	<select id="checkNickName" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM "USER"
		WHERE NICK_NAME = #{nickName}
	</select>	
	
	<!-- 회원 가입 -->
	<insert id="insertUser" useGeneratedKeys="true" >
		<selectKey order="BEFORE" keyProperty="userNo" resultType="int">
			SELECT SEQ_USER.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO "USER"(
				USER_NO,
				EMAIL,
				PWD,
				USER_NAME,
				NICK_NAME,
				PHONE,
				ADDRESS,
				STATUS,
				POINTS,
				ENROLL_DATE,
				MODIFY_DATE
			)
			VALUES(
				#{userNo},
				#{email},
				#{pwd},
				#{userName},
				#{nickName},
				#{phone},
				#{address},
				DEFAULT,
				#{points},
				DEFAULT,
				NULL
			)
	</insert>
	
	<!-- 소셜 회원 가입 -->
	<insert id="insertUserSocial" >
		INSERT INTO "USER_SOCIAL"
		VALUES(
			#{socialId},
			#{userNo},
			#{socialType}
		)
	</insert>
	
	<!-- 회원 권한 설정 -->
	<insert id="insertAuthority">
		INSERT INTO "AUTHORITY"
		VALUES(
			#{userNo},
			'ROLE_USER'
		)
	</insert>
	
	<!-- 회원가입 500포인트 지급 -->
	<insert id="signupPoint">
		INSERT INTO "HISTORY"
		VALUES(
			SEQ_HISTORY.NEXTVAL,
			#{userNo},
			#{points},
			DEFAULT,
			'회원가입 축하 포인트 지급!'
		)
	</insert>
	
	<!-- 회원 조회 -->
	<select id="selectUser" resultMap="userMap">
		SELECT * 
		FROM "USER"
		<where>
		<if test="email != null">
			AND EMAIL = #{email}
		</if>
		<if test="userNo != null">
			AND USER_NO = #{userNo}
		</if>
		</where>
	</select>
	
	<!-- 회원 조회(UserDetails) -->
	<select id="loadUserByUsername" resultMap="userMap">
		SELECT
			*
		FROM "USER"
		LEFT JOIN USER_SOCIAL USING(USER_NO)
		LEFT JOIN IMG_USER USING(USER_NO)
		<where>
			<if test="userNo != null">
				AND USER_NO = #{userNo}
			</if>
			<if test="socialId != null">
				AND SOCIAL_ID = #{socialId}
			</if>
			<if test="socialType != null">
				AND SOCIAL_TYPE = #{socialType}
			</if>
		</where>
	</select>
	
	<!-- 회원 권한 조회-->
	<select id="selectAuthorities" resultMap="authorityMap">
		SELECT AUTHORITY
		FROM "AUTHORITY"
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 회원의 반려견 조회 -->
	<select id="selectDogs" resultMap="dogMap">
		SELECT *
		FROM "DOG"
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 회원 프사 조회 -->
	<select id="selectImgUser" resultType="imgUser">
		SELECT * 
		FROM "IMG_USER"
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 반려견 프사 조회 -->
	<select id="selectImgDog" resultType="imgDog">
		SELECT *
		FROM "IMG_DOG"
		WHERE DOG_NO = #{dogNo}
	</select>
	
	<!-- 반려견 등록 -->
	<insert id="insertDog">
		<selectKey order="BEFORE" keyProperty="dogNo" resultType="int">
			SELECT SEQ_DOG.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "DOG"
		VALUES(
			#{dogNo},
			#{userNo},
			#{isMain},
			#{dogName},
			#{breed},
			#{gender},
			#{birthday},
			#{note}
		)
	</insert>
	
	<!-- 회원 정보 수정 -->
	<update id="updateUser" parameterType="user">
		UPDATE "USER"
		SET NICK_NAME = #{nickName},
			PHONE = #{phone},
			ADDRESS = #{address}
		WHERE USER_NO = #{userNo}		
	</update>
	
	<!-- 회원 정보 수정 (프사) -->
	<update id="updateImgUser">
		UPDATE "IMG_USER"
		SET ORIGIN_NAME = #{originName},
			CHANGE_NAME = #{changeName}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 회원 프사 등록 메서드 -->
	<insert id="insertImgUser">
		INSERT INTO "IMG_USER"
		VALUES(
			#{userNo},
			#{originName},
			#{changeName}
		)
	</insert>
	
	<!-- 반려견 프사 등록 -->
	<insert id="insertImgDog">
		INSERT INTO "IMG_DOG"
		VALUES(
			#{dogNo},
			#{originName},
			#{changeName}
		)
	</insert>
	
	<select id="hasUserLike" resultType="int">
		SELECT COUNT(*)
		FROM "LIKE"
		WHERE USER_NO = #{userNo} AND TYPE_CODE=#{typeCode} AND REF_NO=#{refNo}
	</select>
	
	<insert id="insertBoardLike">
		<selectKey order="BEFORE" keyProperty="likeNo" resultType="int">
			SELECT SEQ_LIKE.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO "LIKE"
		VALUES(
			#{likeNo},
			#{userNo},
			#{typeCode},
			#{refNo}
		)
	</insert>
	
	<insert id="insertPointHistory">
    <selectKey order="BEFORE" keyProperty="historyNo" resultType="int">
        SELECT SEQ_HISTORY.NEXTVAL FROM DUAL
    </selectKey>
	    INSERT INTO "HISTORY" 
	    (
	        HISTORY_NO, 
	        USER_NO, 
	        POINT, 
	        POINT_DATE, 
	        CONTENT
	    ) VALUES (
	        #{historyNo}, 
	        #{userNo}, 
	        #{point}, 
	        SYSDATE, 
	        #{content}
	    )
	</insert>
	
	<update id="updateUserPoint">
	    UPDATE "USER"
	    	SET POINTS = POINTS + #{point}
	    WHERE USER_NO = #{userNo}
	</update>
	
	<update id="updateLoginDate">
		UPDATE "USER"
	    	SET LAST_LOGIN_DATE = SYSDATE
	    WHERE USER_NO = #{userNo}
	</update>
	
	<select id="findUserId" resultType="string">
	    SELECT EMAIL
	    FROM "USER"
	    <where>
	        <!-- userName is mandatory -->
	        USER_NAME = #{userName}
	        
	        <!-- email is optional, checked if provided -->
	        <if test="email != null and email != ''">
	            AND EMAIL = #{email}
	        </if>
	        
	        <!-- nickname is optional, checked if provided -->
	        <if test="nickName != null and nickName != ''">
	            AND NICK_NAME = #{nickName}
	        </if>
	        
	        <!-- If neither email nor nickName is provided, ensure at least one condition is met -->
	        <if test="(email == null or email == '') and (nickName == null or nickName == '')">
	            AND 1 = 0
	        </if>
	    </where>
	</select>
	
	<select id="findUserPwd" resultType="int">
	    SELECT NVL(USER_NO, 0)
	    FROM "USER"
	    WHERE USER_NAME = #{userName} 
	      AND PHONE = #{phone} 
	      AND EMAIL = #{email}
	</select>
	
	<update id="changePassword">
		UPDATE "USER" SET
			PWD = #{pwd}
		WHERE USER_NO = #{userNo}
	</update>
	
	<!-- 미사용 -> 추후 삭제 가능
	<select id="selectSocialType">
		SELECT * FROM "USER_SOCIAL"
		WHERE SOCIAL_ID = #{socialId}
	</select>-->
	
	


</mapper>