<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<resultMap id="userMap" type="user">
		<id column="USER_NO" property="userNo"/>
		<result column="EMAIL" property="email"/>
		<result column="PWD" property="pwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="NICK_NAME" property="nickName"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="STATUS" property="status"/>
		<result column="POINTS" property="points"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<collection property="authorities"
					javaType="list"
					ofType="simpleGrantedAuthority"
					select="selectAuthorities"
					column="USER_NO"
		 />
	</resultMap>
	
	<resultMap id="authorityMap" type="simpleGrantedAuthority">
		<constructor>
			<arg column="authority" javaType="string" />
		</constructor>
	</resultMap>
	
	<select id="checkEmail" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM "USER"
		WHERE EMAIL = #{email}
	</select>


	<select id="checkNickName" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM "USER"
		WHERE NICK_NAME = #{nickName}
	</select>	
	
	<insert id="insertUser" useGeneratedKeys="true" >
		<selectKey order="BEFORE" keyProperty="userNo" resultType="int">
			SELECT SEQ_USER.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO "USER"(
				USER_NO,
				EMAIL,
				PWD,
				USER_NAME,
				NICK_NAME,
				PHONE,
				ADDRESS,
				STATUS,
				POINTS,
				ENROLL_DATE
			)
			VALUES(
				#{userNo},
				#{email},
				#{pwd},
				#{userName},
				#{nickName},
				#{phone},
				#{address},
				DEFAULT,
				#{points},
				DEFAULT
			)
	</insert>
	
	<insert id="insertUserSocial" >
		INSERT INTO "USER_SOCIAL"
		VALUES(
			#{socialId},
			#{userNo},
			#{socialType}
		)
	</insert>
	
	<insert id="insertAuthority">
		INSERT INTO "AUTHORITY"
		VALUES(
			#{userNo},
			'ROLE_USER'
		)
	</insert>
	
	<insert id="signupPoint">
		INSERT INTO "HISTORY"
		VALUES(
			SEQ_HISTORY.NEXTVAL,
			#{userNo},
			#{points},
			DEFAULT,
			'회원가입 축하 포인트 지급!'
		)
	</insert>
	
	<select id="loadUserByUsername" resultMap="userMap">
		SELECT
			*
		FROM "USER"
		JOIN USER_SOCIAL USING(USER_NO)
		WHERE
			USER_NO = #{socialId} 
		  AND SOCIAL_TYPE = #{socialType}
	</select>
	
	<select id="selectAuthorities" resultMap="authorityMap">
		SELECT 
			*
		FROM "AUTHORITY"
		WHERE USER_NO = #{userNo}
	</select>
	
	<select id="selectSocialType">
		SELECT * FROM "USER_SOCIAL"
		WHERE SOCIAL_ID = #{socialId}
	</select>
	
	<select id="selectUser" resultMap="userMap">
		SELECT * FROM "USER"
		<where>
		<if test="email != null">
			EMAIL = #{email}
		</if>
		<if test="userNo != null">
			USER_NO = #{userNo}
		</if>
		</where>
		
	</select>
	
	
	
	


</mapper>