.container{
    box-sizing: border-box;

    width: 100%;
    height: 50px;

    display: flex;

    justify-content: space-between;

    padding-right: 10px;
    padding-left: 10px;

    border-bottom: 1px solid lightgray;

    position: sticky;
    top: 0;

    z-index: 1;
    background-color: white;
}
.logo{
    display: flex;

    justify-content: center;
    align-items: center;

    flex-basis: 50%;
    background-color: blue;
}
.logoImg{
    height: 45px;

    margin-right: 2%;
}

.search{
    display: flex;

    justify-content: center;
    align-items: center;
}
.searchImg{
    height: 30px;
}

.back{
    display: flex;

    justify-content: center;
    align-items: center;
}
.backImg{
    height: 30px;
}