.mainHeader {
    display: flex;
    align-items: center;
    min-width: 360px;
    max-width: 720px;
    height: 50px;
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
}

.backButton {
    cursor: pointer;
}

.back {
    width: 50px;
    height: 50px;
}

.projectName {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.boardTitle {
    margin-left: 45px;
}

.boardTitle p {
    font-size: 18px;
    font-weight: bold;
}

.headerButtons {
    display: flex;
    gap: 5px;
    margin-left: 40px;
}

.boardListSearch {
    margin-left: 86px;
    margin-top: 3px;
}

.search {
    width: 40px;
    height: 40px;
}

.categorys {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;

}

.cateClassic,
.cateUsed,
.cateBuy,
.cateLost {
    width: 80px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cateClassic {
    background-color: #02CCFE;
}

.cateClassic p {
    font-weight: bold;
    color: #E4FAFF;
    font-size: 19px;
}

.cateUsed,
.cateBuy,
.cateLost {
    background-color: #E4FAFF;
}

.cateUsed p,
.cateBuy p,
.cateLost p {
    font-weight: bold;
    color: #02CCFE;
    font-size: 19px;
}

.cateLine {
    width: 50px;
    height: 40px;
    background-color: #E4FAFF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cateLine p {
    font-weight: bold;
    color: #02CCFE;
    font-size: 20px;
    margin-top: 5px;
}

.classicContent {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 5px solid #E4FAFF;
    margin: 10px;
    display: flex;
}

.img {
    width: 80px;
    height: 90px;
    background-color: #90EAFF;
    border-radius: 10px;
    margin: 5px;
}

.contentUp {
    display: flex;
}

.contentTitle {
    width: 230px;
}

.contentTitle p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.upRight {
    width: 60px;
    margin-left: 15px;
}

.upRight img {
    width: 20px;
    height: 20px;
}

.contentInfo {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.viewNo {
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
}

.contentDate {
    font-size: 10px;
    margin-top: 2px;
    margin-left: 5px;
}

.contentDown {
    display: flex;
}

.contentLike {
    display: flex;
}

.downNick {
    margin: 0px;
    margin-top: 15px;
}

.emptyPlace {
    height: 20px;
    width: 100%;
}

.downRight {
    margin-left: 100px;
}

.downRight img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.downRight p {
    margin: 0px;
    margin-left: 5px;
}






.mainNavi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
}

.home,
.ham,
.chat,
.my {
    width: 40px;
    height: 40px;
}

/* 모달 오버레이 */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 모달 컨텐츠 */
.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalContent button {
    background-color: #02CCFE;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.modalContent button:hover {
    background-color: #0289FE;
}