.app-container{
    margin-bottom: 0px;
}

.mainHeader {
    display: flex;
    align-items: center;
    min-width: 360px;
    max-width: 720px;
    height: 50px;
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
}

.backButton {
    cursor: pointer;
}

.back {
    width: 50px;
    height: 50px;
}

.projectName {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.boardTitle {
    margin-left: 30px;
}

.boardTitle p {
    font-size: 18px;
    font-weight: bold;
}

.headerButtons {
    display: flex;
    gap: 5px;
    margin-left: 40px;
}

.insertBoard {
    margin-top: 40px;
    margin-left: 40px;
}

.boardCate {
    width: 200px;
    height: 40px;
    background-color: #E4FAFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardCate p {
    font-size: 22px;
    font-weight: bold;
    color: #02CCFE;
}

.cates {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.cates .cate {
    width: 80px;
    height: 40px;
    background-color: #E4FAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}



/* 라디오 버튼 앞에 이상한 동그라미 없애기 */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* 선택된 라디오 버튼 색상 변경 */
input[type="radio"]:checked+label {
    background-color: #02CCFE;
    color: #E4FAFF;
}

.cate label {
    font-size: 22px;
    color: #02CCFE;
    font-weight: bold;
    margin-left: -7px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
}




.titleStroke {
    width: 350px;
    height: 60px;
    background-color: #E4FAFF;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleStroke .titleBox {
    width: 340px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.titleBox .title {
    border: none;
    outline: none;
    font-size: 22px;
    margin-left: 10px;
}

.title::placeholder {
    color: #02CCFE;
    font-weight: bold;
}

.contentStroke {
    width: 350px;
    height: 300px;
    background-color: #E4FAFF;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentStroke .contentBox {
    width: 340px;
    height: 290px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
}

.contentBox .content {
    border: none;
    outline: none;
    width: 340px;
    height: 270px;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 10px;
    resize: none;
}

.content::placeholder {
    color: #02CCFE;
    font-weight: bold;
}

.picture {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    align-items: center;
}

.picture .insertP {
    display: none;
}

.customFileButton {
    background-color: #E4FAFF;
    color: #02CCFE;
    border: none;
    border-radius: 10px;
    padding: 0px 35px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.customFileButton .plus{
    margin-top: 14px;
    margin-bottom: 0px;
    font-size: 50px;
}

.customFileButton p{
    font-size: 13px;
    margin-top: 0px;
}
    
.previewContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-items: auto;
}

.previewContainer img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 10px;
}

.surely{
    margin-top: 25px;
    width: 350px;
    height: 50px;
    background-color: #E4FAFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.surely p{
    font-size: 16px;
    color: #02CCFE;
    font-weight: bold;
}


.choicies {
    display: flex;
    gap: 30px;
}

.choicies .choice {
    width: 160px;
    height: 50px;
    background-color: #E4FAFF;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    font-size: 20px;
    font-weight: bold;
    color: #02CCFE;
    border: none;
    outline: none;
    cursor: pointer;
}
