/* 요소 컨테이너 */
.elem_container {
    display: flex;

    flex-direction: column;

    padding-bottom: 10vh;
}

/* 버튼 */
.button {
    box-sizing: content-box;
    border-radius: 10px;
    border: none;
    background-color: #02CCFE;

    width: inherit;
    height: 3vh;

    padding: 0 1% 0 1%;

    text-align: center;
    font-size: 1rem;
    font-weight: bold;

    margin-left: 10px;
}

/* 라벨 */
.label {
    font-weight: bold;
    font-size: 1rem;
    margin: 10px 0 10px 5px;
}

/* 이메일 */
.email_container {
    display: flex;
    align-items: center;
}

.email {
    flex-basis: 50%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;
}

.email:focus {
    outline: 2px solid #02CCFE;
}

/* 코드 */
.code_container {
    display: flex;
    align-items: center;
}

.code {
    flex-basis: 15%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;
    min-width: 15%;
}

.code:focus {
    outline: 2px solid #02CCFE;
}

/* 이름 */
.userName_container {
    display: flex;
    align-items: center;
}

.userName {
    flex-basis: 20%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;

    min-width: 10%;
}

.userName:focus {
    outline: 2px solid #02CCFE;
}

/* 닉네임 */
.nickName_container {
    display: flex;
    align-items: center;
}

.nickName {
    flex-basis: 30%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;

    min-width: 10%;
}

.nickName:focus {
    outline: 2px solid #02CCFE;
}

/* 비밀번호 */
.pwd_container {
    display: flex;
    align-items: center;
}

.pwd {
    flex-basis: 50%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;

    min-width: 20%;
}

.pwd:focus {
    outline: 2px solid #02CCFE;
}

/* 비밀번호 확인 */
.pwdCheck_container {
    display: flex;
    align-items: center;
}

.pwdCheck {
    flex-basis: 50%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;
}

.pwdCheck:focus {
    outline: 2px solid #02CCFE;
}

/* 휴대폰 번호 */
.phone_container {
    display: flex;
    align-items: center;
}

.phone {
    flex-basis: 50%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;
}

.phone:focus {
    outline: 2px solid #02CCFE;
}

/* 생년월일 */
.birthday_container {
    display: flex;
    align-items: center;
}

.birthday {
    flex-basis: 20%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;
}

.birthday:focus {
    outline: 2px solid #02CCFE;
}

/* 주소 */
.address_container {
    display: flex;
    flex-direction: column;
}

.postCode_container {
    display: flex;
    flex-basis: 33%;
}

.postCode {
    flex-basis: 20%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;
}

.postCode:focus {
    outline: 2px solid #02CCFE;
}

.mainAddress {
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;

    flex-basis: 33%;

}

.mainAddress:focus {
    outline: 2px solid #02CCFE;
}

.detailAddress {
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;

    flex-basis: 33%;

}

.detailAddress:focus {
    outline: 2px solid #02CCFE;
}

/* 모달 오버레이 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

/* 모달 컨테이너 */
.modal_container {

    background: #FFFFFF;

    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 50%;
    height: 60%;

    max-width: 500px;
    min-width: 340px;

    border-radius: 10px;
}

/* 모달 헤더 */
.modal_header {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;

    padding-left: 10px;
    padding-right: 10px;

    width: 100%;

    flex-basis: 10%;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.closeButton {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem;
    font-weight: bolder;
}

/* 모달 컨텐트 */
.modal_content {
    width: 100%;
    box-sizing: border-box;

    padding: 20px;
    overflow: scroll;
}



/* 폼 */
.form {
    position: relative;
    padding: 20px;
}

.formGroup {
    margin-bottom: 10px;
}



.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.input,
.inputInline {
    width: calc(100% - 72px);
    height: 40px;
    padding: 0 10px;
    border: 3px solid #E4FAFF;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.input {
    width: 100%;
}

/* 우편번호 입력 필드 */
#postalCode {
    width: calc(100% - 72px);
}



.error {
    font-size: 10px;
    color: #F70707;
    margin-top: 5px;
}

/* 표시/숨김 버튼 */
.toggleButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 10px;
    color: #000000;
}

/* 캘린더 아이콘 */
.calendarIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    cursor: pointer;
}

/* 회원가입 버튼 */
.submitButton {
    width: 130px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 35px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    margin: 10px auto 0;
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

/* 성공 및 에러 메시지 스타일 */
.successMessage,
.errorMessage {
    font-size: 0.9rem;
    /* 폰트 크기 조정 */
    margin-top: 5px;
    /* 입력 필드와 메시지 사이의 간격 */
}

.successMessage {
    color: green;
    /* 성공 메시지는 초록색 */
}

.errorMessage {
    color: red;
    /* 에러 메시지는 빨간색 */
}

/* 기존 스타일 재확인 */
.pwd_container,
.pwdCheck_container,
.code_container {
    display: flex;
    flex-direction: column;
    /* 수직 정렬을 위해 flex-direction을 column으로 설정 */
    align-items: flex-start;
    margin-bottom: 0px;
    /* 각 필드와 하단 메시지 사이에 여백 추가 */
}

.pwd,
.pwdCheck,
.code {
    width: 70%;
    height: 3vh;
    border: 3px solid #E4FAFF;
    border-radius: 5px;
}

.pwd:focus,
.pwdCheck:focus,
.code:focus {
    outline: 2px solid #02CCFE;
}