.container {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 1700px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 35px;
}

.title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.searchBar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.searchInput {
    width: 300px;
    height: 40px;
    border: 1px solid #E3E3E3;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}

.categoryButtons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    justify-content: right;
}

.categoryButton {
    width: 160px;
    height: 40px;
    background: #AFAFAF;
    border-radius: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    cursor: pointer;
}

.deleteButton {
    display: flex;
    background-color: #EC221F;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 20px;
}

.memberList {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    overflow-y: auto;
}

.memberListHeader,
.memberRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.memberListHeader {
    background-color: #f5f5f5;
    font-weight: bold;
}

.memberListHeader span {
    width: 100px;
    text-align: center;
}

.headerItem,
.memberId,
.memberEmail,
.memberNickname,
.memberJoinDate,
.toggleContainer {
    flex: 1;
    text-align: center;
    vertical-align: auto;
}

.headerItem{
    display : block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.toggleContainer {
    width: 60px;
    display: flex;
    justify-content: center;
}

/* ToggleSwitch.module.css */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }

.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 8px;
}

.page,
.pageGap {
    width: 32px;
    height: 32px;
    background: #2C2C2C;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.pageGap {
    background: transparent;
    color: #000000;
    font-weight: 700;
}

.addButton {
    display: flex;
    background-color: #2C2C2C;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: auto;
    margin-top: 20px;
}