.mainHeader {
    display: flex;
    align-items: center;
    min-width: 360px;
    max-width: 720px;
    height: 50px;
    background: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
}

.backButton {
    cursor: pointer;
}

.back {
    width: 50px;
    height: 50px;
}

.projectTitleText {
    margin-left: 140px;
    font-size: 18px;
    font-weight: bold;
}

.picture{
    width: 30px;
    height: 30px;
    margin-left: 105px;
}

.mark{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.chatRoom{
    padding-top: 10px;
    margin-bottom: 60px;
}


.chatPost{
    width: 430px;
    height: 50px;
    background-color: #90EAFF ;
    display: flex;
}
.postBox{
    padding: 0px;
    padding-left: 5px;
    border: none;
    outline: none;
    width: 340px;
    height: 40px;
    font-size: 35px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #E4FAFF;

}

.postBtn{
    margin-top: 5px;
    margin-left: 5px;
    width: 60px;
    height: 40px;
    background-color: #E4FAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.postBtn button{
    color:  #02CCFE;
    font-size: 18px;
    font-weight: bolder;
    outline: none;
    border: none;
    background-color: #E4FAFF;
    padding: 0px;
}

.chatPost{
    position: fixed;
    bottom: 50px;
}
