.detail{
    margin-bottom: 100px;
}

.top{
    display: flex;
    margin-top: 20px ;
    width: 390px;
    margin-left: 20px;
}

.user{
    display: flex;
}

.profileImg{
    width: 50px;
    height: 50px;
    background-color: #02CCFE;
    border-radius: 25px;
}

.nick{
    margin-left: 10px;
    font-size: 20px;
    display: flex;
    margin-top: 12.5px;
    font-weight: bold;
}
.enrollDate{
    margin-left: 120px;
    font-weight: bold;
}
.boardCode{
    margin-top: 10px;
    margin-left: 10px;
    width: 55px;
    height: 35px;
    background-color: #E4FAFF;
    color: #02CCFE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.content{
    width: 390px;
    font-weight: bold;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;
}

.pictures{
    margin-left: 20px;
    
}

.pictures .image{
    width: 390px;
    height: 390px;
    background-color: #E4FAFF;
    
    margin-bottom: 20px;

    height: 290px;
    object-fit: cover;
}


.likeBox{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #E4FAFF;
    margin-top: 20px;
    margin-bottom: 40px;
}
.like{
    width: 50px;
    padding-top: 20px;
    padding-left: 25px;
    margin-bottom: 0px;
}
.likeNo{
    margin-top: 0px;
    text-align: center;
}

.commentBox{
    background-color: #E4FAFF;
    display: grid;
    width: 390px;
    margin-left: 20px;
}

.commentPlus{
    background-color: #90EAFF;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
}
.plusBox{
    width: 275px;
    height: 40px;
    background-color: white;
    margin-left: 5px;
    margin-top: 4px;
    border: none;
    outline: none;
}
.plusBtn{
    width: 60px;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #02CCFE;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    border: none;
}

.container {
    box-sizing: border-box;

    width: 100%;
    height: 50px;

    display: flex;

    justify-content: space-between;

    padding-right: 10px;
    padding-left: 10px;

    position: sticky;
    top: 0%;

    z-index: 1;
    background-color: white;
}

.logo {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-basis: 50%;
}

.logoImg {
    height: 45px;

    margin-right: 2%;
}

.button {
    display: flex;

    justify-content: end;
    align-items: center;

    flex-basis: 15%;
}

.exImg {
    height: 25px;
}

.back {
    display: flex;

    align-items: center;

    flex-basis: 5%;
}

.backImg {
    height: 25px;
}









/* 모달부분 */

.modalOverlay {
    background-color: #90EAFF;
    position: fixed;
    top: 70px;
    left: 19px;
    width: 200px;
    display: flex;
    border-radius: 10px;
    padding-bottom: 10px;
}

.modalContent {
    text-align: center;
}

.modalContent p{
    background-color: white;
    width: 180px;
    margin-left: 10px;
    font-weight: bold;
    color: #02CCFE;
    border-radius: 5px;
    margin: 10px 10px;

}

.modalBtns{
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.modalContentReport button,
.modalContent button {
    width: 85px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #E4FAFF;
    color: #02CCFE;
    font-size: 14px;
}
