.container {
    position: relative;
    width: 430px;
    height: 932px;
    background: #FFFFFF;
    margin-top: 55px;
}

.rectangle {
    box-sizing: border-box;
    width: 337px;
    height: 44px;
    margin: 16px auto;
    background: #FFFFFF;
    border: 3px solid #02CCFE;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.inputPlaceholder {
    width: 98%;
    height: 95%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
}

.label {
    font-family: 'Noto Sans KR';
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    margin-left: 43px;
    display: flex;
    align-items: center;
}

.instruction {
    font-family: 'Noto Sans KR';
    font-size: 15px;
    line-height: 26px;
    color: #000000;
    text-align: left;
    margin: 30px 43px 16px 43px;
}

.button {
    background: #FFFFFF;
    border: 3px solid #02CCFE;
    width: 337px;
    height: 44px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmText {
    font-family: 'Noto Sans KR';
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}