.app-container {
    display: flex;
    justify-items: center;
}

.serarchButton1 {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 100px;
    right: 5px;
    z-index: 1000;
    background-color: red;
}

.serarchButton2 {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 100px;
    right: 65px;
    z-index: 1000;
    background-color: green;
}

.serarchButton3 {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 100px;
    right: 125px;
    z-index: 1000;
    background-color: blue;
}

.searchArea{
    display: flex;
    width: 80%;
    height: 40px;
    z-index: 1000;
    background-color: white;
}
.searchInput{
    width: 92%;
    background-color: red;
}
.searchButton{
    width: 8%;
    background-color: blue;
}